# Configurações da Aplicação
ENVIRONMENT=development
PORT=8080
ALLOWED_ORIGINS=*
RATE_LIMIT_PER_MIN=120
MAX_UPLOAD_SIZE_MB=100
MAX_MEMORY_MULTIPART_MB=32

# MinIO S3 Object Storage
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=138B9bu6y5
MINIO_USE_SSL=false
MINIO_DEFAULT_BUCKET=user-files
MINIO_REGION=us-east-1

# Golang Auth API Integration (https://github.com/gjovanovicst/golang-auth-api)
AUTH_API_URL=http://localhost:8000
JWT_SECRET_KEY=my-super-secure-256-bit-secret-key-auth
JWT_ISSUER=golang-auth-api
AUTH_VALIDATION_MODE=local_signature # "local_signature" ou "remote_introspection"
PRESIGNED_EXPIRY_TTL=15m
